.poke-container {
  position: relative;
  margin: 2em 3em;
  width: 100vw;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  box-shadow: 10px 10px 10px rgba(191, 191, 191, 0.596);
}
