.poke-container {
  position: relative;
  margin: 10em 1em;
  width: 100vw;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 1em;
  z-index: 0;
}

.card {
  box-shadow: 10px 10px 10px rgba(191, 191, 191, 0.596);
  text-align: center;
  padding: 1em;
  transition: width 2s, height 4s, 0.5s ease-in-out;
  width: 300px;
  height: fit-content;
}

.card:hover {
  width: 350px;
  background-color: rgba(43, 243, 73, 0.574);
}
